@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
margin-top: 4.5em;
margin-bottom: 2em;
font-family: 'Rubik';
}

/* text configs */
.high-text {
color: #093f2f;
}

.destaque-text {
color: rgb(0, 0, 0);
}

.low-text {
color: #70757c;
}

.big-text {
font-size: 3.5em;
}

.button {
/* position: relative; */
background-color: #4CAF50;
border-radius: 8px;
border: none;
color: white;
padding: 4px 8px;        
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 0.8em;
margin: 4px 2px;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
font-family: 'Rubik';
}

.button1 {
	background-color: #13a378;
	color: white; 
	border: 2px solid #13a378;
	}

.button1:hover {
	background-color: white;
	color: #13a378;
	border: 2px solid #13a378;
	}

.button2 {
	background-color: #13A330;
	color: white; 
	border: 2px solid #13A330;
	}

.button2:hover {
	background-color: white;
	color: #13A330;
	border: 2px solid #13A330;
	}  

.button3 {
	background-color: #1386A3;
	color: white; 
	border: 2px solid #1386A3;
	}

.button3:hover {
	background-color: white;
	color: #1386A3;
	border: 2px solid #1386A3;
	}

	.all-input {
		width: 100%;
		padding: 0.2em;
		font-size: 0.9em;
		border: 1px solid #13a378;
		border-radius: 6px;
	}

.fixed-div {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
}

.table-site {
margin-top: 1em;
font-family: "Rubik";
text-align: center;
border-collapse: collapse;
width: 100%;
}

.table-site td, .table-sites th {
border: 1px solid #ddd;
padding: 0.5em;
}

.table-site tr:nth-child(even){background-color:#d4fae8;}

/*.table-site tr:hover {background-color: #ddd;}*/

.table-site th {
padding-top: 0.6em;
padding-bottom: 0.6em;
padding-left: 0.8em;
padding-right: 0.8em;
text-align: center;
background-color:#13a378;
color: white;
}

.hr-divide {
border-width: 0.1em; 
border-color: #13a378;
}

.hr-divide-light {
border-width: 0.1em; 
border-color: rgb(59, 55, 55);
}

.hr-divide-super-light {
	border-width: 0.1em; 
	border-color: #70757c;
	}

.hr-vertical-pequena {
	height: 150px;/*Altura da linha*/
	border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  }

  .radioMy {
	width: 18px; height: 20px;
}

  .div-checkboxes {
	height:14em; 
	overflow: auto; 
	border: 1px solid #13a378;
	border-radius: 6px;
	padding: 0.7em;
  }

  .img-perfil {
	margin-right: 1em; 
	border-radius: 30px;
	height: 80px;
  }

  /* unvisited link */
  a:link {
    color: #13a378;
    }

    /* visited link */
    a:visited {
    color: #13a378;
    }

    /* mouse over link */
    a:hover {
    color: #13A330;
    }
